# Babel extraction map: pybabel extract -F babel.cfg -k N_ -o tracker/locale/messages.pot .
[python: tracker/**.py]

[jinja2: tracker/web/templates/**.html]
extensions = jinja2.ext.i18n

[javascript: tracker/web/static/js/**.js]
